.boardContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;


}

.popUpContainer {
    position: absolute;
    left: 30%;

    top: 50%;
    transform: translateY(-50%);
    text-align: center;

    background-color: white;
    border: 2px black;
    border-radius: 2em;
    color: darkgray;
    width: 40%;
    height: 12em;
}

.setupContainer {
    position: absolute;
    left: 30%;

    top: 50%;
    transform: translateY(-50%);
    text-align: center;

    background-color: white;
    border: 2px black;
    border-radius: 2em;
    color: darkgray;
    width: fit-content;
    height: fit-content;
    padding: 3em;
}

.block {
    border: 1px solid black;
    width: 100%;
    height: 100%;

}

.block:hover {
    background-color: white;
}

.block.selected {
    cursor: not-allowed;
}




body {
    color: white;
    background-color: darkblue;

}

.title {
    font-size: 6em;
    margin: auto;
    width: 50%;
    text-align: center;
    color: darkgray;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(10, 2em);
    grid-template-rows: repeat(10, 2em);
    width: fit-content;
    height: fit-content;
}

.block {
    border: 2px solid black;
    width: 100%;
    height: 100%;
}

.container {
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: inherit;
}


.startContainer {
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: inherit;

}



.enter {
    width: 6em;
    margin: 2em;
    background-color: darkgray;
    border-radius: 2em;

}

.player {
    font-size: 3em;
}

#playerTextInput {
    width: 18em;

}

.orientBtn {
    margin: 1em;

}

/*  draggable ship */
.shipContainer>div {

    width: fit-content;
    height: fit-content;

    background-color: red;
    height: fit-content;

}

#horizontalShip {
    display: flex;
    flex-direction: row;


    width: fit-content;
    height: fit-content;

    background-color: red;
    height: fit-content;
}

#innerShip {
    width: 2em;
    height: 2em;
    background-color: red;
}

.shipContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
    margin: 2em;
    width: fit-content;
    height: fit-content;
}